/*0001*/
body{
    color:black;
    background-color:white;
    line-height: 15px;
}

/*0001*/
h1{
    text-align:center;
    color:rgb(190, 52, 52);
    background-color:white;
}

/*0001*/
div{
    display: grid;
    grid-template-columns: 5em 5em 5em 5em 5em;
    column-gap: 1em;
    row-gap: 1em;
}

/*100*/
#stack{
    width: 29em;
    height: 7em;
    text-align: end;
    background-color: rgb(203, 239, 248);
    overflow-y: scroll;
    display: block;
}

/*100*/
#resultado{
    width: 34em;
    height: 2em;
    text-align: end;
    background-color: rgb(203, 239, 248);
}