/*0001*/
body {
    font: 400 15px Arial, sans-serif;
    font-stretch: semi-expanded; 
    font-style: normal;
    line-height: 1.3;
    color: #000000;
    background-color:#ffffff; 
}

/*0001*/
h1 {
    text-transform: uppercase;
    text-align: left; 
    padding: 10px 5px;
    color:#000000;
    background-color:#6f94ac;    
}

/*0001*/
h2{
    text-transform: uppercase;
    text-align: left; 
    color:#000000;
    background-color:#ffffff; 
    text-shadow:  #587c92 0.1em 0.1em 0.2em;   
}

/*0001*/
h3{
    text-transform: uppercase;
    text-align: left; 
    color:#000000;
    background-color:#ffffff; 
    text-shadow:  #587c92 0.05em 0.05em 0.1em;   
}

/*0001*/
p{
    line-height: 3ex;
}

/*0001*/
li{
    color: #080808;
    background-color:#ffffff;
    line-height: 3ex;
}

/*0001*/
table{
    font-size: 17px;
    margin-left: 250px;
    color:#000000;
    background-color: #acc6d6;
    border-color: black;
    border-style: hidden;
    border-width: 0.1mm;
}

/*0001*/
th{
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    border-style: hidden;
    border-width: 0.1mm;
    padding: 10px 10px;
    color: #000000;
    background-color: white;
}

/*0001*/
td{
    font-size: 17px;
    text-align: center;
    border-style: hidden;
    border-width: 0.1mm;
    padding: 5px 5px;
    color: #000000;
    background-color: white;
}

input[type = "button"]{
    line-height: 2em;
    color: black;
    background-color: lightblue;
}

/*0101*/
#section > div{
    display: grid;
    grid-template-columns: 23em 23em;
    column-gap: 1em;
}