/*0001*/
body {
    font: 400 1.2em Arial, sans-serif;
    font-stretch: semi-expanded; 
    font-style: normal;
    line-height: 1.5;
    color: #000000;
    background-color:#ffffff; 
}

/*0001*/
h1 {
    text-transform: uppercase;
    text-align: left; 
    padding: 1em;
    margin-left: 4em;
    color: red;
    background-color:white;    
}

/*0100*/
#archivos{
    padding-bottom: 1.5em;
}