/*0001*/
body{
    font: 400 1.5em Arial, sans-serif;
    font-stretch: semi-expanded; 
    font-style: normal;
    line-height: 1.5;
    color: #000000;
    background-color:#ffffff; 
}

/*0001*/
h1{
    text-transform: uppercase;
    text-align: left; 
    padding: 0.5em;
    margin-left: 2.5em;
    color: rgb(0, 26, 255);
    background-color:white; 
}

/*0100*/
#block{
    display: flex;
    margin: 0.5em;
}

/*001*/
label{
    position: absolute;
    visibility: hidden;
}

/*0011*/
input[type="button"]{
    margin: 1em;
    height: 40px;
    padding: 0.5em;
    color: black;
    background-color:cadetblue; 
}

/*0100*/
#highlight{
    background-image: url("highlight.png");
}

/*0100*/
#black{
    color:white; 
    background-color: #000000;
}

/*0100*/
#grey{
    color: #000000;
    background-color: #9b9b9b;
}

/*0100*/
#brown{
    color:white;
    background-color: #804000;
}

/*0100*/
#red{
    color: #000000;
    background-color: #FF0000;
}

/*0100*/
#orange{
    color: #000000;
    background-color: #FF8000;
}

/*0100*/
#green{
    color: #000000;
    background-color: #008f39;
}

/*0100*/
#blue{
    color:white;
    background-color: #0000FF;
}

/*0100*/
#purple{
    color:white;
    background-color:#5b0677;
}

/*0100*/
#pink{
    color: #000000;
    background-color: #ff0080;
}

/*0100*/
#canvas{
    width: 100%;
    margin: auto;
    box-shadow: 0px 10px 60px #888888;
    padding-bottom: 1.5em;
}